html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.display-4 {
    font-size: 4.5rem;
    font-weight: 300;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}


/*This Is Inex for CRUD Operations*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.table {
    font-size: 14px;
}

.thead-dark {
    background-color: #343a40;
    color: #fff;
}

.btn-group .btn {
    margin-right: 5px;
}

/*This section for Prescription detailed page*/
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f0f0f0;
}

.card-body {
    padding: 20px;
}